div#container
{
   width: 970px;
   height: 2760px;
   margin-top: 0;
   margin-left: 0;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
